# Sem Pandas

In [ ]:
arquivo = open('/content/sample_data/db.csv', 'r')

In [ ]:
for linha in arquivo:
  linhas = linha.split(';')
  print(linhas)

In [ ]:
arquivo.close()

# Com Pandas

In [2]:
import pandas as pd

In [31]:
dataset = pd.read_csv('/content/sample_data/db.csv', sep = ';', index_col=0)
dataset

                                       Motor  ...      Valor
Nome                                          ...
Jetta Variant                Motor 4.0 Turbo  ...   88078.64
Passat                          Motor Diesel  ...  106161.94
Crossfox                     Motor Diesel V8  ...   72832.16
DS5                          Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4             Motor 2.4 Turbo  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                        Motor V8  ...   51759.58
Cadillac Ciel concept               Motor V8  ...   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo  ...   68934.03
Aston Martin DB5                Motor Diesel  ...  122110.90
Macan                        Motor Diesel V6  ...   90381.47

[258 rows x 6 columns]

## Describe

In [ ]:
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

## Seleções com DataFrames

In [6]:
dataset.head()

               Nome  ...      Valor
0     Jetta Variant  ...   88078.64
1            Passat  ...  106161.94
2          Crossfox  ...   72832.16
3               DS5  ...  124549.07
4  Aston Martin DB4  ...   92612.10

[5 rows x 7 columns]

### Retorno de um DataFrame

In [8]:
dataset[['Nome', 'Valor']]    # Lista dentro de lista

                      Nome      Valor
0            Jetta Variant   88078.64
1                   Passat  106161.94
2                 Crossfox   72832.16
3                      DS5  124549.07
4         Aston Martin DB4   92612.10
..                     ...        ...
253           Phantom 2013   51759.58
254  Cadillac Ciel concept   51667.06
255             Classe GLK   68934.03
256       Aston Martin DB5  122110.90
257                  Macan   90381.47

[258 rows x 2 columns]

### Retorno de uma Series

In [10]:
dataset['Nome']

0              Jetta Variant
1                     Passat
2                   Crossfox
3                        DS5
4           Aston Martin DB4
               ...
253             Phantom 2013
254    Cadillac Ciel concept
255               Classe GLK
256         Aston Martin DB5
257                    Macan
Name: Nome, Length: 258, dtype: object

### Utilizando .loc

In [33]:
dataset.loc['Passat']

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                                 5712
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                       106162
Name: Passat, dtype: object

In [35]:
dataset.loc[['Passat', 'Aston Martin DB5'], ['Motor', 'Valor']]

                         Motor      Valor
Nome
Passat            Motor Diesel  106161.94
Aston Martin DB5  Motor Diesel  122110.90

# Queries com DataFrames

In [42]:
diesel = dataset.Motor == 'Motor Diesel'
diesel

Nome
Jetta Variant            False
Passat                    True
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5          True
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [43]:
dataset[diesel]

                              Motor  ...      Valor
Nome                                 ...
Passat                 Motor Diesel  ...  106161.94
Effa Hafei Picape Baú  Motor Diesel  ...  125684.65
Sorento                Motor Diesel  ...   81399.35
New Fiesta Hatch       Motor Diesel  ...   66007.16
Kangoo Express         Motor Diesel  ...  146716.91
Fit                    Motor Diesel  ...   77836.23
Cielo Hatch            Motor Diesel  ...  145197.70
Symbol                 Motor Diesel  ...  133030.60
A4 Sedan               Motor Diesel  ...   96369.04
A4 Avant               Motor Diesel  ...  138946.88
Silver Shadow          Motor Diesel  ...  143568.22
Camry                  Motor Diesel  ...  138597.27
Clio                   Motor Diesel  ...  111130.33
Série 3 M3 Coupé       Motor Diesel  ...   69219.89
Gallardo LP 560 – 4    Motor Diesel  ...  144118.91
Chana Utility          Motor Diesel  ...  132662.32
TT Roadster            Motor Diesel  ...   85311.40
Aston Martin Virage    Motor Diesel  ...   97290.18
Sandero                Motor Diesel  ...  112350.61
XKR                    Motor Diesel  ...   54263.16
X5                     Motor Diesel  ...   62041.32
Dodge Dakota           Motor Diesel  ...  141083.35
i30 CW                 Motor Diesel  ...   73311.75
Série 7 Sedã           Motor Diesel  ...   67539.79
V60                    Motor Diesel  ...  114728.74
Aston Martin DB5       Motor Diesel  ...  122110.90

[26 rows x 6 columns]

In [44]:
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)]

                            Motor  ...      Valor
Nome                               ...
Sorento              Motor Diesel  ...   81399.35
Cielo Hatch          Motor Diesel  ...  145197.70
Camry                Motor Diesel  ...  138597.27
Aston Martin Virage  Motor Diesel  ...   97290.18
Série 7 Sedã         Motor Diesel  ...   67539.79

[5 rows x 6 columns]

## Utilizando o Método Query

In [45]:
dataset.query('Motor == "Motor Diesel" and Zero_km == True')

                            Motor  ...      Valor
Nome                               ...
Sorento              Motor Diesel  ...   81399.35
Cielo Hatch          Motor Diesel  ...  145197.70
Camry                Motor Diesel  ...  138597.27
Aston Martin Virage  Motor Diesel  ...   97290.18
Série 7 Sedã         Motor Diesel  ...   67539.79

[5 rows x 6 columns]

# Iterando com DataFrames

In [46]:
for item in dataset:
  print(item)

Motor
Ano
Quilometragem
Zero_km
Acessórios
Valor

In [50]:
for index, row in dataset.iterrows():
  if (2019 - row['Ano'] != 0):
    dataset.loc[index, 'Km_media'] = row['Quilometragem'] / (2019 - row['Ano'])
  else:
    dataset.loc[index, "Km_media"] = 0

dataset

                                       Motor   Ano  ...      Valor     Km_media
Nome                                                ...
Jetta Variant                Motor 4.0 Turbo  2003  ...   88078.64  2775.625000
Passat                          Motor Diesel  1991  ...  106161.94   204.000000
Crossfox                     Motor Diesel V8  1990  ...   72832.16  1280.103448
DS5                          Motor 2.4 Turbo  2019  ...  124549.07     0.000000
Aston Martin DB4             Motor 2.4 Turbo  2006  ...   92612.10  1981.307692
...                                      ...   ...  ...        ...          ...
Phantom 2013                        Motor V8  2014  ...   51759.58  5501.000000
Cadillac Ciel concept               Motor V8  1991  ...   51667.06  1070.750000
Classe GLK             Motor 5.0 V8 Bi-Turbo  2002  ...   68934.03  3096.294118
Aston Martin DB5                Motor Diesel  1996  ...  122110.90   334.130435
Macan                        Motor Diesel V6  1992  ...   90381.47  1858.814815

[258 rows x 7 columns]

# Tratamento de Dados

In [51]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   Km_media       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 24.4+ KB

In [53]:
dataset[dataset.Quilometragem.isna()]

                                Motor   Ano  ...      Valor  Km_media
Nome                                         ...
DS5                   Motor 2.4 Turbo  2019  ...  124549.07       0.0
A5                    Motor 4.0 Turbo  2019  ...   56445.20       0.0
J5                           Motor V6  2019  ...   53183.38       0.0
A3                       Motor 1.0 8v  2019  ...   88552.39       0.0
Série 1 M                    Motor V8  2019  ...   94564.40       0.0
...                               ...   ...  ...        ...       ...
Lamborghini Reventón  Motor 4.0 Turbo  2019  ...   67664.86       0.0
Benni Mini                   Motor V8  2019  ...  126247.84       0.0
Uno                   Motor Diesel V6  2019  ...  128852.21       0.0
Santa Fe                Motor 3.0 32v  2019  ...  129415.33       0.0
XC60                  Motor 4.0 Turbo  2019  ...   77675.79       0.0

[61 rows x 7 columns]

In [56]:
dataset.fillna(0, inplace=True)   # Altera na por 0 e o inplace grava permanentemente

In [57]:
dataset.query("Zero_km == True")

                                Motor   Ano  ...      Valor  Km_media
Nome                                         ...
DS5                   Motor 2.4 Turbo  2019  ...  124549.07       0.0
A5                    Motor 4.0 Turbo  2019  ...   56445.20       0.0
J5                           Motor V6  2019  ...   53183.38       0.0
A3                       Motor 1.0 8v  2019  ...   88552.39       0.0
Série 1 M                    Motor V8  2019  ...   94564.40       0.0
...                               ...   ...  ...        ...       ...
Lamborghini Reventón  Motor 4.0 Turbo  2019  ...   67664.86       0.0
Benni Mini                   Motor V8  2019  ...  126247.84       0.0
Uno                   Motor Diesel V6  2019  ...  128852.21       0.0
Santa Fe                Motor 3.0 32v  2019  ...  129415.33       0.0
XC60                  Motor 4.0 Turbo  2019  ...   77675.79       0.0

[61 rows x 7 columns]

In [58]:
dataset = pd.read_csv('/content/sample_data/db.csv', sep = ';')
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [59]:
dataset.dropna(subset = ['Quilometragem'], inplace = True)
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
4         Aston Martin DB4  ...   92612.10
5            Palio Weekend  ...   97497.73
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[197 rows x 7 columns]