In [ ]:
# Sem Feedback
%%capture
!gdown --id 1D4dAWk9rTvCnu-LhhaKVs2ApI4rYc_iy
!gdown --id 1NRlDq__OCz8OmsAKT57yU-txRlJ8GiIM
!gdown --id 1AjJL30M4hawQVMTCuMYuITh7g4lEddmZ
!gdown --id 1RerwdzDamRGH-lI33G_SwrIekGXL09Co
!gdown --id 1gl0kk1eDMO_72loaZ7wKgZTdzxFQgB2u
!gdown --id 1sMAnIUv2T8mmtLeT9xq6ppQODGYm4xAe
!gdown --id 1mUhhKxPSSI9HPXIivZTiLv8Bd3yzyVuT

![image.png]()

In [ ]:
import pandas as pd

# Carregando os Datasets

In [ ]:
df_customers = pd.read_csv('/content/olist_customers_dataset.csv')
df_order_items = pd.read_csv('/content/olist_order_items_dataset.csv')
df_payments = pd.read_csv('/content/olist_order_payments_dataset.csv')
df_reviews = pd.read_csv('/content/olist_order_reviews_dataset.csv')
df_orders = pd.read_csv('/content/olist_orders_dataset.csv')
df_products = pd.read_csv('/content/olist_products_dataset.csv')
df_seller = pd.read_csv('/content/olist_sellers_dataset.csv')

In [ ]:
df_seller.head(2)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP

In [ ]:
df_customers.head(2)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP

In [ ]:
df_products.head(2)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0

In [ ]:
df_reviews.head(2)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13

In [ ]:
df_orders.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00

In [ ]:
df_payments.head(2)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39

In [ ]:
df_order_items.head(2)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93

# Descobrindo - df_order_items.order_item_id

In [ ]:
df_order_items.order_item_id.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21])

In [ ]:
df_order_items.order_item_id.value_counts()

1     98666
2      9803
3      2287
4       965
5       460
6       256
7        58
8        36
9        28
10       25
11       17
12       13
13        8
14        7
15        5
16        3
17        3
18        3
19        3
20        3
21        1
Name: order_item_id, dtype: int64

In [ ]:
df_order_items.query('order_item_id == 20')

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
11951,1b15974a0141d54e36626dca3fdc731a,20,ee3d532c8a438679776d222e997606b3,8e6d7754bc7e0f22c96d255ebda59eba,2018-03-01 02:50:48,100.0,10.12
57316,8272b63d03f5f79c56e9e4120aec44ef,20,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
75122,ab14fdcfbe524636d65ee38360e22ce8,20,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.7,14.44

In [ ]:
df_order_items.query('order_id == "8272b63d03f5f79c56e9e4120aec44ef"')

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
57297,8272b63d03f5f79c56e9e4120aec44ef,1,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57298,8272b63d03f5f79c56e9e4120aec44ef,2,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57299,8272b63d03f5f79c56e9e4120aec44ef,3,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57300,8272b63d03f5f79c56e9e4120aec44ef,4,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57301,8272b63d03f5f79c56e9e4120aec44ef,5,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57302,8272b63d03f5f79c56e9e4120aec44ef,6,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57303,8272b63d03f5f79c56e9e4120aec44ef,7,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57304,8272b63d03f5f79c56e9e4120aec44ef,8,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57305,8272b63d03f5f79c56e9e4120aec44ef,9,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57306,8272b63d03f5f79c56e9e4120aec44ef,10,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57307,8272b63d03f5f79c56e9e4120aec44ef,11,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57308,8272b63d03f5f79c56e9e4120aec44ef,12,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57309,8272b63d03f5f79c56e9e4120aec44ef,13,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57310,8272b63d03f5f79c56e9e4120aec44ef,14,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57311,8272b63d03f5f79c56e9e4120aec44ef,15,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57312,8272b63d03f5f79c56e9e4120aec44ef,16,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57313,8272b63d03f5f79c56e9e4120aec44ef,17,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57314,8272b63d03f5f79c56e9e4120aec44ef,18,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57315,8272b63d03f5f79c56e9e4120aec44ef,19,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57316,8272b63d03f5f79c56e9e4120aec44ef,20,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
57317,8272b63d03f5f79c56e9e4120aec44ef,21,79ce45dbc2ea29b22b5a261bbb7b7ee7,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,7.8,6.57

# Descobrindo - customer_unique_id e customer_id

In [ ]:
df_customers.head(2)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP

In [ ]:
df_customers[['customer_id', 'customer_unique_id']].nunique()

customer_id           99441
customer_unique_id    96096
dtype: int64

In [ ]:
df_customers.customer_unique_id.value_counts()

8d50f5eadf50201ccdcedfb9e2ac8455    17
3e43e6105506432c953e165fb2acf44c     9
1b6c7548a2a1f9037c1fd3ddfed95f33     7
ca77025e7201e3b30c44b472ff346268     7
6469f99c1f9dfae7733b25662e7f1782     7
                                    ..
081f07439678af2da7755a0aa572154d     1
9c57789a6a587f4efcfb01e36c106014     1
9e4c21635f640562de1a6976374fba03     1
06c0ea6ee892364d1608ee47aa9f56a0     1
84732c5050c01db9b23e19ba39899398     1
Name: customer_unique_id, Length: 96096, dtype: int64

In [ ]:
df_customers.query('customer_unique_id == "3e43e6105506432c953e165fb2acf44c"')

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
5113,f37a14140ac3a8efbb4d2eab6585edb7,3e43e6105506432c953e165fb2acf44c,11701,praia grande,SP
6129,a4413edae691fd0d28bd04b8a38b259d,3e43e6105506432c953e165fb2acf44c,11700,praia grande,SP
8657,1815fdaaae692479110428598596b5e5,3e43e6105506432c953e165fb2acf44c,11701,praia grande,SP
10685,e68e6423401e85c138229b23d4bf4761,3e43e6105506432c953e165fb2acf44c,11700,praia grande,SP
20597,b63c9cfc5dcb06ed307ca95957fa216c,3e43e6105506432c953e165fb2acf44c,11704,praia grande,SP
50029,2bbd32d4ef14893d2d8c1a0df08403cf,3e43e6105506432c953e165fb2acf44c,11701,praia grande,SP
64987,b70f8552b91ef49129519206966e2472,3e43e6105506432c953e165fb2acf44c,11700,praia grande,SP
89979,6b92dda6e324283dbe4969c443e3bf1a,3e43e6105506432c953e165fb2acf44c,11701,praia grande,SP
90706,06ec7aed3161859018db02f695b6600d,3e43e6105506432c953e165fb2acf44c,11701,praia grande,SP

In [ ]:
df_orders.query('customer_id == "f37a14140ac3a8efbb4d2eab6585edb7"')

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
53988,ed92e8596b1e39671065510a4f5b0920,f37a14140ac3a8efbb4d2eab6585edb7,delivered,2018-02-20 10:45:22,2018-02-20 11:50:38,2018-03-07 19:58:53,2018-03-15 21:21:45,2018-03-14 00:00:00

In [ ]:
df_orders.query('customer_id == "a4413edae691fd0d28bd04b8a38b259d"')

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
14073,e23ad32d5c15d9ad308baddc6262afea,a4413edae691fd0d28bd04b8a38b259d,delivered,2017-12-01 09:30:36,2017-12-02 15:50:49,2017-12-13 19:41:21,2017-12-27 17:22:30,2018-01-09 00:00:00

In [ ]:
df_orders[['order_id', 'customer_id']].nunique()

order_id       99441
customer_id    99441
dtype: int64

# Explorao - Payments

In [ ]:
df_payments.head(3)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71

In [ ]:
df_payments.payment_sequential.unique()

array([ 1,  2,  4,  5,  3,  8,  6,  7, 10, 11, 17, 19, 27, 12,  9, 15, 13,
       14, 16, 25, 22, 26, 29, 28, 18, 21, 24, 23, 20])

In [ ]:
df_payments.query('payment_sequential == 3')

,order_id,payment_sequential,payment_type,payment_installments,payment_value
275,b80ba0f0c3d2a63feac0116f533cc6a9,3,voucher,1,2.99
752,8ca5bdac5ebe8f2d6fc9171d5ebc906a,3,voucher,1,15.00
977,608570b95a49743971fb82089b960070,3,voucher,1,12.29
1092,11f97a9967bb081adb9883460c71e845,3,voucher,1,33.56
1117,6a0c96e8fd6d1c42bbfa1f5d49f3d3cb,3,voucher,1,64.25
...,...,...,...,...,...
103223,f8a9c0be5071e2ca36f561ad567b1800,3,voucher,1,14.98
103479,8413ac0b09301d03b78adeca5840866f,3,voucher,1,2.23
103507,67937bb4e0c9a4156fe47c89382d33e7,3,voucher,1,90.07
103551,1ea11b975aea60ca92fa0559184d3d34,3,voucher,1,12.69
103747,cf101c3abd3c061ca9f78c1bbb1125af,3,voucher,1,8.46

In [ ]:
df_payments.query('order_id == "b80ba0f0c3d2a63feac0116f533cc6a9"').sort_values(by='payment_sequential', ascending=True)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
81970,b80ba0f0c3d2a63feac0116f533cc6a9,1,credit_card,1,11.10
58459,b80ba0f0c3d2a63feac0116f533cc6a9,2,voucher,1,19.00
275,b80ba0f0c3d2a63feac0116f533cc6a9,3,voucher,1,2.99

## Anlise - Payments

In [ ]:
df_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [ ]:
df_payments.payment_type.value_counts()

credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
not_defined        3
Name: payment_type, dtype: int64

In [ ]:
import plotly.express as px

df_plot = df_payments.payment_type.value_counts().reset_index()
fig = px.bar(df_plot, x='index', y='payment_type',
             title="Quantidade de Pagamentos por Tipo",
             labels={
                 'index':'Tipo de Pagamento',
                 'payment_type':'Quantidade de Pagamentos'
             })
fig.show()

In [ ]:
df_payments.payment_installments.value_counts()

1     52546
2     12413
3     10461
4      7098
10     5328
5      5239
8      4268
6      3920
7      1626
9       644
12      133
15       74
18       27
11       23
24       18
20       17
13       16
14       15
17        8
16        5
21        3
0         2
22        1
23        1
Name: payment_installments, dtype: int64

### OBS: Nmero de parcelas para pagamento no crdito

In [ ]:
df_credit = df_payments.query('payment_type == "credit_card"').payment_installments.value_counts()
df_credit

1     25455
2     12413
3     10461
4      7098
10     5328
5      5239
8      4268
6      3920
7      1626
9       644
12      133
15       74
18       27
11       23
24       18
20       17
13       16
14       15
17        8
16        5
21        3
0         2
22        1
23        1
Name: payment_installments, dtype: int64

In [ ]:
df_plot = df_credit.reset_index()
fig = px.bar(df_plot, x='index', y='payment_installments',
             title="Quantidade de Parcelas",
             labels={
                 'index':'Nmero de Parcelas',
                 'payment_installments':'Quantidade de Pagamentos'
             })
fig.show()

### Valor Mdio por Parcela

In [ ]:
df_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [ ]:
df_payments.groupby(by='payment_type').mean()

              payment_sequential  payment_installments  payment_value
payment_type
boleto                  1.000051              1.000000     145.034435
credit_card             1.004167              3.507155     163.319021
debit_card              1.034663              1.000000     142.570170
not_defined             1.000000              1.000000       0.000000
voucher                 2.602424              1.000000      65.703354

- Assumindo que finalizar a compra com voucher  proibido

In [ ]:
order_id_to_remove = list(df_payments.query('payment_sequential == 1 and payment_type == "voucher"')['order_id'])

In [ ]:
df_filtrado = df_payments.query(f'order_id not in {order_id_to_remove}')
df_filtrado

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [ ]:
df_payments.shape

(103886, 5)

In [ ]:
df_filtrado.groupby(by=['order_id', 'payment_type']).sum().reset_index().groupby(by='payment_type').mean()

              payment_sequential  payment_installments  payment_value
payment_type
boleto                  1.000051              1.000000     145.034435
credit_card             1.007973              3.520450     163.938098
debit_card              1.035340              1.000654     142.663475
not_defined             1.000000              1.000000       0.000000
voucher                 4.102895              1.397327      86.420753

## Valor Mdio Total da Compra pelo Nmero de Parcelas

In [ ]:
df_payments.head(2)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39

In [ ]:
df_payments.groupby(by='payment_installments').mean()

                      payment_sequential  payment_value
payment_installments
0                               2.000000      94.315000
1                               1.179100     112.420229
2                               1.004270     127.228150
3                               1.003824     142.539317
4                               1.004508     163.976840
5                               1.003436     183.465222
6                               1.004082     209.849952
7                               1.004305     187.673672
8                               1.006092     307.737427
9                               1.000000     203.440870
10                              1.004317     415.085837
11                              1.000000     124.932174
12                              1.000000     321.678496
13                              1.000000     150.462500
14                              1.000000     167.962667
15                              1.000000     445.553108
16                              1.000000     292.694000
17                              1.000000     174.602500
18                              1.000000     486.483333
20                              1.000000     615.801765
21                              1.000000     243.700000
22                              1.000000     228.710000
23                              1.000000     236.480000
24                              1.000000     610.048889

In [ ]:
df_plot = df_payments.groupby(by='payment_installments').mean()
fig = px.bar(df_plot, x=df_plot.index, y='payment_value',
             title="Valor Mdio Total da Compra pelo Nmero de Parcelas",
             labels={
                 'index':'Nmero de Parcelas',
                 'payment_value':'Valor Mdio da Compra'
             })
fig.show()

In [ ]:
df_pay_parc = df_payments.groupby(by='payment_installments').mean().reset_index().query('payment_installments > 0')
df_pay_parc['v_por_parc'] = df_pay_parc.payment_value / df_pay_parc.payment_installments
df_pay_parc

    payment_installments  payment_sequential  payment_value  v_por_parc
1                      1            1.179100     112.420229  112.420229
2                      2            1.004270     127.228150   63.614075
3                      3            1.003824     142.539317   47.513106
4                      4            1.004508     163.976840   40.994210
5                      5            1.003436     183.465222   36.693044
6                      6            1.004082     209.849952   34.974992
7                      7            1.004305     187.673672   26.810525
8                      8            1.006092     307.737427   38.467178
9                      9            1.000000     203.440870   22.604541
10                    10            1.004317     415.085837   41.508584
11                    11            1.000000     124.932174   11.357470
12                    12            1.000000     321.678496   26.806541
13                    13            1.000000     150.462500   11.574038
14                    14            1.000000     167.962667   11.997333
15                    15            1.000000     445.553108   29.703541
16                    16            1.000000     292.694000   18.293375
17                    17            1.000000     174.602500   10.270735
18                    18            1.000000     486.483333   27.026852
19                    20            1.000000     615.801765   30.790088
20                    21            1.000000     243.700000   11.604762
21                    22            1.000000     228.710000   10.395909
22                    23            1.000000     236.480000   10.281739
23                    24            1.000000     610.048889   25.418704

In [ ]:
import plotly.graph_objects as go
x = df_pay_parc.payment_installments

fig = go.Figure(data = [
            go.Bar(name = 'Valor Total da Compra', x = x, y = df_pay_parc.payment_value),
            go.Bar(name = 'Valor da Parcela', x = x, y = df_pay_parc.v_por_parc)
])
# Change the Bar Mode
fig.update_layout(barmode = 'group')
fig.show()

# Trabalhando com Tempo

In [ ]:
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [ ]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [ ]:
df_orders.order_status.unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

In [ ]:
df_orders.head(1)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00

In [ ]:
df_orders.order_purchase_timestamp = pd.to_datetime(df_orders.order_purchase_timestamp, format='%Y-%m-%d %H:%M:%S')
df_orders.order_approved_at = pd.to_datetime(df_orders.order_approved_at, format='%Y-%m-%d %H:%M:%S')
df_orders.order_delivered_carrier_date = pd.to_datetime(df_orders.order_delivered_carrier_date, format='%Y-%m-%d %H:%M:%S')
df_orders.order_delivered_customer_date = pd.to_datetime(df_orders.order_delivered_customer_date, format='%Y-%m-%d %H:%M:%S')
df_orders.order_estimated_delivery_date = pd.to_datetime(df_orders.order_estimated_delivery_date, format='%Y-%m-%d %H:%M:%S')

In [ ]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

## Anlise sobre Atrasos

In [ ]:
col_temp = df_orders.order_estimated_delivery_date - df_orders.order_delivered_customer_date
df_orders['order_delay'] = col_temp.dt.days
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_delay
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7.0
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,5.0
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,17.0
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,12.0
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,9.0

In [ ]:
df_plot = df_orders.order_delay <= 0
df_plot.value_counts()

False    90152
True      9289
Name: order_delay, dtype: int64

In [ ]:
df_plot = df_plot.value_counts()
fig = px.pie(df_plot, values = 'order_delay', names = ['Em dia', 'Atrasado'])
fig.show()

## Qual horrio as pessoas mais compram?

In [ ]:
df_orders.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_delay
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7.0
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,5.0

In [ ]:
df_orders.order_purchase_timestamp.dt.hour

0        10
1        20
2         8
3        19
4        21
         ..
99436     9
99437    12
99438    14
99439    21
99440    20
Name: order_purchase_timestamp, Length: 99441, dtype: int64

In [ ]:
df_plot = df_orders.order_purchase_timestamp.dt.hour.value_counts()
fig = px.bar(df_plot, x=df_plot.index, y='order_purchase_timestamp',
             title="Nmero de compras pelo horrio do dia",
             labels={
                 'index':'Hora (24)',
                 'order_purchase_timestamp':'Quantidade de Compras'
             })
fig.show()

In [ ]:
df_orders.order_purchase_timestamp.dt.day_name().head(4)

0       Monday
1      Tuesday
2    Wednesday
3     Saturday
Name: order_purchase_timestamp, dtype: object

In [ ]:
df_orders['fds'] = df_orders.order_purchase_timestamp.dt.day_of_week <= 4
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_delay,fds
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7.0,True
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,5.0,True
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,17.0,True
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,12.0,False
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,9.0,True

In [ ]:
df_plot = df_orders.query('fds == False').order_purchase_timestamp.dt.hour.value_counts()
fig = px.bar(df_plot, x=df_plot.index, y='order_purchase_timestamp',
             title="Nmero de compras pelo horrio do dia",
             labels={
                 'index':'Hora (24)',
                 'order_purchase_timestamp':'Quantidade de Compras'
             })
fig.show()

## Qual o dia da semana que as pessoas mais compram?

In [ ]:
df_orders.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_delay,fds
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7.0,True
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,5.0,True

In [ ]:
df_plot = df_orders.order_purchase_timestamp.dt.day_of_week.value_counts()
fig = px.bar(df_plot, x=df_plot.index, y='order_purchase_timestamp',
             title="Nmero de compras por dia da semana",
             labels={
                 'index':'Dia da Semana',
                 'order_purchase_timestamp':'Quantidade de Compras'
             })
fig.show()

In [ ]:
df_orders['dia_semana'] = df_orders.order_purchase_timestamp.dt.day_of_week

In [ ]:
df_orders['dia_do_ano'] = df_orders.order_purchase_timestamp.dt.day_of_year
df_orders['dia_do_ano'].value_counts()

328    1176
219     527
136     510
135     509
199     499
       ...
266      88
301      88
1        74
365      74
358      60
Name: dia_do_ano, Length: 365, dtype: int64

In [ ]:
df_plot = df_orders['dia_do_ano'].value_counts().reset_index().rename(columns={'index':'dia_index'}).sort_values(by='dia_index')
fig = px.line(df_plot, x='dia_index', y="dia_do_ano", title='Perfil de compra ao longo do ano')
fig.show()

# Merge

In [ ]:
df_orders.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_delay,fds,dia_semana,dia_do_ano
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7.0,True,0,275
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,5.0,True,1,205

In [ ]:
df_payments.head(2)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39

In [ ]:
#df_orders.merge(df_payments, how='inner', left_on='order_id', right_on='order_id')
df_order_pay = df_orders.merge(df_payments, how='inner', on='order_id')
df_order_pay

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_delay,fds,dia_semana,dia_do_ano,payment_sequential,payment_type,payment_installments,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7.0,True,0,275,1,credit_card,1,18.12
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7.0,True,0,275,3,voucher,1,2.00
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7.0,True,0,275,2,voucher,1,18.59
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,5.0,True,1,205,1,boleto,1,141.46
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,17.0,True,2,220,1,credit_card,3,179.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103881,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28,10.0,True,3,68,1,credit_card,3,85.08
103882,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02,1.0,True,1,37,1,credit_card,3,195.00
103883,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27,5.0,False,6,239,1,credit_card,5,271.01
103884,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15,20.0,True,0,8,1,credit_card,4,441.16
103885,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03,17.0,True,3,67,1,debit_card,1,86.86

In [ ]:
df_order_pay[['dia_semana', 'payment_value']].groupby(by='dia_semana').agg(['sum', 'mean', 'median'])

           payment_value
                     sum        mean   median
dia_semana
0             2622457.97  155.404917  102.050
1             2560743.03  153.383829  100.140
2             2493114.66  153.196182   98.710
3             2384544.22  154.139898   98.845
4             2307128.20  156.224824   99.095
5             1768427.68  155.411519  101.340
6             1872456.36  150.700713  100.410

# Quais as 5 categorias mais vendidas em SP, RJ e AM

In [ ]:
# CustomerState
df_customers.head(2)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP

In [ ]:
# Category
df_products.head(2)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0

In [ ]:
df_aux_cust_order = df_orders.merge(df_customers, how='inner', on='customer_id')
df_aux_cust_order.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_delay,fds,dia_semana,dia_do_ano,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7.0,True,0,275,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,5.0,True,1,205,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,17.0,True,2,220,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,12.0,False,5,322,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,9.0,True,1,44,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP

In [ ]:
df_aux_cust_order_item = df_aux_cust_order.merge(df_order_items, how='inner', on='order_id')
df_aux_cust_order_item.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_delay,fds,...,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7.0,True,...,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,5.0,True,...,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,17.0,True,...,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,12.0,False,...,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,1,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23 19:45:59,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,9.0,True,...,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,1,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 20:31:37,19.90,8.72

In [ ]:
df_aux_cust_order_item_product = df_aux_cust_order_item.merge(df_products, how='inner', on='product_id')
df_aux_cust_order_item_product.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_delay,fds,...,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7.0,True,...,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
1,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28,9.0,True,...,29.99,7.78,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
2,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15,7.0,True,...,29.99,7.78,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
3,bfc39df4f36c3693ff3b63fcbea9e90a,53904ddbea91e1e92b2b3f1d09a7af86,delivered,2017-10-23 23:26:46,2017-10-25 02:14:11,2017-10-27 16:48:46,2017-11-07 18:04:59,2017-11-13,5.0,True,...,29.99,14.10,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
4,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,5.0,True,...,118.70,22.76,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0

In [ ]:
df_mais_vendidos = df_aux_cust_order_item_product[['customer_state', 
                      'product_category_name', 'price']].groupby(by=['customer_state', 
                                                                    'product_category_name']).agg(['count', 'sum'])
df_mais_vendidos

                                           price
                                           count      sum
customer_state product_category_name
AC             artigos_de_natal                1    69.90
               automotivo                      4   540.98
               bebes                           3   697.84
               beleza_saude                    7  1386.58
               brinquedos                      3   234.79
...                                          ...      ...
TO             portateis_casa_forno_e_cafe     1  1999.00
               relogios_presentes             30  5446.89
               telefonia                      21  1268.12
               telefonia_fixa                  2  1390.99
               utilidades_domesticas          14  1275.75

[1368 rows x 2 columns]

In [ ]:
df_SP_RJ_AM = df_mais_vendidos.query('customer_state in ["SP", "RJ", "AM"]')
df_SP_RJ_AM

                                        price
                                        count        sum
customer_state product_category_name
AM             alimentos                    1     149.90
               artes                        1      58.35
               audio                        1      89.90
               automotivo                   6     723.90
               bebes                        5     657.69
...                                       ...        ...
SP             sinalizacao_e_seguranca     95    7949.51
               tablets_impressao_imagem    32    2449.76
               telefonia                 1646  104088.28
               telefonia_fixa             117   15582.33
               utilidades_domesticas     3265  275378.63

[179 rows x 2 columns]

In [ ]:
df_SP_RJ_AM.sort_values(by=['customer_state', ('price', 'sum')], ascending=False).reset_index()

    customer_state     product_category_name price
                                             count        sum
0               SP           cama_mesa_banho  5235  478284.52
1               SP              beleza_saude  4204  462305.22
2               SP        relogios_presentes  2281  435009.92
3               SP             esporte_lazer  3667  386357.01
4               SP    informatica_acessorios  3170  350747.88
..             ...                       ...   ...        ...
174             AM                     artes     1      58.35
175             AM  tablets_impressao_imagem     1      50.00
176             AM                   bebidas     1      47.49
177             AM            telefonia_fixa     1      19.99
178             AM                    musica     1      16.10

[179 rows x 4 columns]

In [ ]:
SP = df_SP_RJ_AM.query('customer_state == "SP"').sort_values(by=['customer_state', ('price','sum')], ascending= False).head(5)
SP

                                      price
                                      count        sum
customer_state product_category_name
SP             cama_mesa_banho         5235  478284.52
               beleza_saude            4204  462305.22
               relogios_presentes      2281  435009.92
               esporte_lazer           3667  386357.01
               informatica_acessorios  3170  350747.88

In [ ]:
RJ = df_SP_RJ_AM.query('customer_state == "RJ"').sort_values(by=['customer_state', ('price','sum')], ascending= False).head(5)
RJ

                                      price
                                      count        sum
customer_state product_category_name
RJ             relogios_presentes       874  185379.65
               cama_mesa_banho         1644  148035.23
               beleza_saude            1064  145298.62
               esporte_lazer           1041  125148.04
               informatica_acessorios  1002  120289.45

In [ ]:
AM = df_SP_RJ_AM.query('customer_state == "AM"').sort_values(by=['customer_state', ('price','sum')], ascending= False).head(5)
AM

                                      price
                                      count      sum
customer_state product_category_name
AM             beleza_saude              20  2776.03
               ferramentas_jardim         5  1980.88
               informatica_acessorios    17  1960.74
               relogios_presentes        11  1811.35
               esporte_lazer             12  1362.60

# Qual o estado mais exigente e qual tem o maior nmero de haters

In [ ]:
df_reviews.head(2)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13

In [ ]:
df_aux_cust_order_review = df_aux_cust_order[['customer_state', 'order_id', 'order_delay']].merge(
                                        df_reviews[['review_score', 'review_comment_title', 'order_id']], how='inner', on='order_id')
df_aux_cust_order_review.head(10)

,customer_state,order_id,order_delay,review_score,review_comment_title
0,SP,e481f51cbdc54678b7cc49136f2d6af7,7.0,4,NaN
1,BA,53cdb2fc8bc7dce0b6741e2150273451,5.0,4,Muito boa a loja
2,GO,47770eb9100c2d0c44946d9cf07ec65d,17.0,5,NaN
3,RN,949d5b44dbf5de918fe9c16f97b45f8a,12.0,5,NaN
4,SP,ad21c59c0840e6cb83a9ceb5573f8159,9.0,5,NaN
5,PR,a4591c265e18cb1dcee52889e2d8acc3,5.0,4,NaN
6,RS,136cce7faa42fdb2cefd53fdc79a6098,NaN,2,NaN
7,RJ,6514b8ad8028c9f2cc2374ded245783f,11.0,5,NaN
8,RS,76c6e866289321a7c93b82b54852dc33,31.0,1,NaN
9,SP,e69bfb5eb88e0ed6a785585b27e16dbf,6.0,5,NaN

In [ ]:
df_aux_cust_order_review.query('order_delay < 0').groupby(by='customer_state').mean().sort_values(by='review_score')

                order_delay  review_score
customer_state
AC               -19.666667      1.666667
RR               -37.400000      1.800000
SE               -17.196078      1.921569
RN               -13.490196      2.019608
PA               -12.615385      2.102564
RJ               -13.125448      2.119474
CE               -14.588832      2.187817
PE               -11.645349      2.255814
AL                -9.520833      2.270833
MA               -10.312057      2.361702
PB               -10.789474      2.421053
PI               -12.592105      2.421053
DF                -6.872483      2.429530
RS                -9.774611      2.505181
GO               -10.129630      2.506173
BA               -11.444685      2.522777
RO                -6.571429      2.571429
SC                -8.040230      2.600575
MT               -10.400000      2.616667
MS                -7.914634      2.634146
MG                -7.858034      2.650546
ES               -10.869388      2.702041
AM               -21.166667      2.833333
PR                -7.814516      2.887097
SP                -7.348934      2.890096
TO                -6.028571      3.200000
AP               -49.333333      4.666667

In [ ]:
df_aux_cust_order_review.query('order_delay < 0').customer_state.value_counts().reset_index().query('customer_state > 50')

   index  customer_state
0     SP            2393
1     RJ            1674
2     MG             641
3     BA             461
4     RS             386
5     SC             348
6     PR             248
7     ES             245
8     CE             197
9     PE             172
10    GO             162
11    DF             149
12    MA             141
13    PA             117
14    AL              96
15    MS              82
16    PI              76
17    MT              60
18    PB              57
19    RN              51
20    SE              51

In [ ]:
lista_estados = list(df_aux_cust_order_review.query('order_delay < 0').customer_state.value_counts().reset_index().query('customer_state > 50')['index'].values)
lista_estados

['SP',
 'RJ',
 'MG',
 'BA',
 'RS',
 'SC',
 'PR',
 'ES',
 'CE',
 'PE',
 'GO',
 'DF',
 'MA',
 'PA',
 'AL',
 'MS',
 'PI',
 'MT',
 'PB',
 'RN',
 'SE']

In [ ]:
df_aux_cust_order_review.query('order_delay < 0').groupby(by='customer_state').mean().sort_values(by='review_score').query(f'customer_state in {lista_estados}')

                order_delay  review_score
customer_state
SE               -17.196078      1.921569
RN               -13.490196      2.019608
PA               -12.615385      2.102564
RJ               -13.125448      2.119474
CE               -14.588832      2.187817
PE               -11.645349      2.255814
AL                -9.520833      2.270833
MA               -10.312057      2.361702
PB               -10.789474      2.421053
PI               -12.592105      2.421053
DF                -6.872483      2.429530
RS                -9.774611      2.505181
GO               -10.129630      2.506173
BA               -11.444685      2.522777
SC                -8.040230      2.600575
MT               -10.400000      2.616667
MS                -7.914634      2.634146
MG                -7.858034      2.650546
ES               -10.869388      2.702041
PR                -7.814516      2.887097
SP                -7.348934      2.890096