# Relatório de Análise I

## Importando a Base de Dados

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Dados/aluguel.csv', sep=';')
dados

                          Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         NaN     NaN
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     NaN
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32960 rows x 9 columns]

In [4]:
type(dados)

pandas.core.frame.DataFrame

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [6]:
dados.head(10)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN
5              Apartamento     Vista Alegre  ...         NaN     NaN
6              Apartamento         Cachambi  ...       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca  ...         NaN     NaN
8       Casa de Condomínio            Ramos  ...         NaN     NaN
9  Conjunto Comercial/Sala           Centro  ...     19193.0  3030.0

[10 rows x 9 columns]

## Informações Gerais sobre a Base de Dados

In [7]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [8]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])   # pd.DataFrame(data, index, columns)

In [9]:
tipos_de_dados.columns.name = 'Variáveis'       # Nome da coluna principal (primeira)
tipos_de_dados

Variáveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [10]:
dados.shape     # (Número_de_linhas, Número_de_variáveis)

(32960, 9)

# Relatório de Análise II

## Tipos de Imóveis

In [11]:
tipo_de_imovel = dados['Tipo']

In [12]:
type(tipo_de_imovel)

pandas.core.series.Series

In [13]:
tipo_de_imovel = tipo_de_imovel.drop_duplicates()
tipo_de_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

## Organizando a Visualização

In [14]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [15]:
tipo_de_imovel.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [16]:
tipo_de_imovel.shape[0]     # Número de Linhas

22

In [17]:
range(tipo_de_imovel.shape[0])

range(0, 22)

In [18]:
for i in range(tipo_de_imovel.shape[0]):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [19]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])
tipo_de_imovel

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [20]:
tipo_de_imovel.columns.name = 'ID'

In [21]:
tipo_de_imovel

ID                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

# Relatório de Análise III

In [22]:
list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [25]:
residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']
 
residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [27]:
selecao = dados['Tipo'].isin(residencial)

In [28]:
dados_residenciais = dados[selecao]   # Faz a seleção dos dados que são True
dados_residenciais

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
3      Apartamento                Centro        1  ...   800.0       390.0  20.0
4      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
5      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
32953  Apartamento                 Méier        2  ...   900.0       490.0  48.0
32955    Quitinete                Centro        0  ...   800.0       350.0  25.0
32956  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
32957  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
32958  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[22580 rows x 9 columns]

In [31]:
dados_residenciais.index = range(dados_residenciais.shape[0])
dados_residenciais

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
2      Apartamento                Centro        1  ...   800.0       390.0  20.0
3      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
4      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
22575  Apartamento                 Méier        2  ...   900.0       490.0  48.0
22576    Quitinete                Centro        0  ...   800.0       350.0  25.0
22577  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
22578  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
22579  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[22580 rows x 9 columns]

## Exportando a Base de Dados

In [33]:
# Index não será exportado
dados_residenciais.to_csv('/content/drive/MyDrive/Colab Notebooks/Dados/aluguel_residencial.csv', sep = ';', index = False)

## Organizando o Data Frame (sort)

In [34]:
dados_residenciais.sort_values(by = 'Valor')    # (by = ['Valor', 'Condominio'])

              Tipo           Bairro  Quartos  ...  Valor  Condominio   IPTU
14834  Apartamento           Leblon        0  ...  100.0         1.0    NaN
5662   Apartamento       Copacabana        0  ...  100.0         NaN    NaN
8905   Apartamento  Barra da Tijuca        0  ...  100.0         NaN    NaN
3701     Quitinete       Copacabana        0  ...  100.0         NaN    NaN
3748     Quitinete      Jacarepaguá        1  ...  300.0        15.0    7.0
...            ...              ...      ...  ...    ...         ...    ...
2034   Apartamento       Copacabana        2  ...    NaN       850.0    NaN
4941          Casa     Campo Grande        3  ...    NaN         NaN    NaN
8568   Apartamento             Leme        2  ...    NaN       878.0    NaN
8947   Apartamento           Glória        3  ...    NaN       910.0  228.0
9149   Apartamento            Gávea        3  ...    NaN       880.0  221.0

[22580 rows x 9 columns]

# Relatório de Análise IV

## Seleções e Frequências

In [38]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'
selecao = dados['Tipo'] == 'Apartamento'    # Booleano
n1 = dados[selecao]     # Faz a seleção dos dados que são True
n1

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
3      Apartamento                Centro        1  ...   800.0       390.0  20.0
4      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
5      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
6      Apartamento              Cachambi        2  ...  1300.0       301.0  17.0
10     Apartamento                Centro        1  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
32951  Apartamento        Vila Valqueire        2  ...  1000.0       550.0   NaN
32953  Apartamento                 Méier        2  ...   900.0       490.0  48.0
32956  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
32957  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
32958  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[19532 rows x 9 columns]

In [39]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao]
n2

                     Tipo                   Bairro  ...  Condominio    IPTU
1                    Casa          Jardim Botânico  ...         NaN     NaN
7      Casa de Condomínio          Barra da Tijuca  ...         NaN     NaN
8      Casa de Condomínio                    Ramos  ...         NaN     NaN
18     Casa de Condomínio                  Taquara  ...         NaN     NaN
22     Casa de Condomínio          Barra da Tijuca  ...      2695.0     NaN
...                   ...                      ...  ...         ...     ...
32908  Casa de Condomínio  Freguesia (Jacarepaguá)  ...       530.0  1250.0
32911                Casa            Bento Ribeiro  ...         NaN     NaN
32924  Casa de Condomínio          Barra da Tijuca  ...      3000.0     NaN
32931                Casa                   Centro  ...         NaN    80.0
32952  Casa de Condomínio          Barra da Tijuca  ...      1711.0  2332.0

[2212 rows x 9 columns]

In [43]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao]
n3

                     Tipo                    Bairro  ...  Condominio   IPTU
1                    Casa           Jardim Botânico  ...         NaN    NaN
5             Apartamento              Vista Alegre  ...         NaN    NaN
8      Casa de Condomínio                     Ramos  ...         NaN    NaN
11            Apartamento                    Grajaú  ...       642.0   74.0
12            Apartamento       Lins de Vasconcelos  ...       455.0   14.0
...                   ...                       ...  ...         ...    ...
32944         Apartamento  Recreio dos Bandeirantes  ...       790.0    NaN
32947         Apartamento                    Leblon  ...      1010.0  249.0
32953         Apartamento                     Méier  ...       490.0   48.0
32956         Apartamento               Jacarepaguá  ...       800.0   40.0
32958         Apartamento                    Leblon  ...       760.0    NaN

[10187 rows x 9 columns]

In [44]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao]
n4

                     Tipo                    Bairro  ...  Condominio   IPTU
701           Apartamento  Recreio dos Bandeirantes  ...       830.0    NaN
1465          Apartamento                   Taquara  ...         NaN    NaN
2874                 Casa              Campo Grande  ...         NaN    NaN
3075                 Casa         Engenho de Dentro  ...         NaN    NaN
3218          Apartamento  Recreio dos Bandeirantes  ...         NaN   90.0
3419         Casa de Vila                     Méier  ...         NaN    NaN
4721        Pousada/Chalé           Barra da Tijuca  ...       295.0    NaN
5849                 Casa              Campo Grande  ...         NaN    NaN
5852          Apartamento              Campo Grande  ...       500.0    NaN
6456          Apartamento  Recreio dos Bandeirantes  ...      1492.0  205.0
7520          Apartamento               Cidade Nova  ...         NaN    NaN
9716          Apartamento                 Pechincha  ...      1100.0  270.0
10132                Casa                 Riachuelo  ...         NaN   40.0
10144                Casa                     Méier  ...         NaN    NaN
11323         Apartamento  Recreio dos Bandeirantes  ...      1400.0  580.0
11367         Apartamento  Recreio dos Bandeirantes  ...      1380.0  700.0
11675         Apartamento  Recreio dos Bandeirantes  ...      1093.0  183.0
14890         Apartamento  Recreio dos Bandeirantes  ...      1038.0  158.0
16078  Casa de Condomínio                   Taquara  ...       550.0  993.0
16638                Casa              Santo Cristo  ...         NaN    NaN
17637         Apartamento                      Leme  ...      2000.0  270.0
18453         Apartamento  Recreio dos Bandeirantes  ...       930.0  150.0
19553         Apartamento                   Camorim  ...       747.0    NaN
20077         Apartamento           Barra da Tijuca  ...      1766.0    NaN
20633                Casa                Praça Seca  ...         NaN  228.0
21973  Casa de Condomínio   Freguesia (Jacarepaguá)  ...       195.0   30.0
22000                Casa        Pedra de Guaratiba  ...         NaN    NaN
23284         Apartamento              Campo Grande  ...       880.0    NaN
23453         Apartamento  Recreio dos Bandeirantes  ...       912.0  160.0
23608         Apartamento              Rio Comprido  ...       500.0    NaN
24572                Casa              Campo Grande  ...         NaN    NaN
25385         Box/Garagem                    Centro  ...       220.0    NaN
25993         Apartamento                   Taquara  ...         NaN    NaN
26178                Casa              Campo Grande  ...         NaN  208.0
26549                Casa              Campo Grande  ...         NaN    NaN
26750                Casa              Braz de Pina  ...         NaN    NaN
27033                Casa              Campo Grande  ...         NaN    NaN
28421                Casa              Campo Grande  ...       300.0    NaN
29517         Apartamento              Campo Grande  ...       950.0    NaN
30670         Apartamento           Barra da Tijuca  ...      1600.0  196.0
31382         Apartamento             Vargem Grande  ...         NaN  176.0
31840         Apartamento  Recreio dos Bandeirantes  ...      1038.0    NaN
32064                Casa              Campo Grande  ...         NaN    NaN

[43 rows x 9 columns]

# Relatório de Análise V

## Tratamento de Dados Faltantes

In [45]:
dados_residenciais.head(10)

                 Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
0           Quitinete       Copacabana        1  ...   1700.0       500.0  60.0
1                Casa  Jardim Botânico        2  ...   7000.0         NaN   NaN
2         Apartamento           Centro        1  ...    800.0       390.0  20.0
3         Apartamento     Higienópolis        1  ...    800.0       230.0   NaN
4         Apartamento     Vista Alegre        3  ...   1200.0         NaN   NaN
5         Apartamento         Cachambi        2  ...   1300.0       301.0  17.0
6  Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         NaN   NaN
7  Casa de Condomínio            Ramos        2  ...   1000.0         NaN   NaN
8         Apartamento           Centro        1  ...   1200.0         NaN   NaN
9         Apartamento           Grajaú        2  ...   1500.0       642.0  74.0

[10 rows x 9 columns]

In [46]:
dados_residenciais.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False   True
4      False   False    False  False   False  False  False        True   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
22575  False   False    False  False   False  False  False       False  False
22576  False   False    False  False   False  False  False       False  False
22577  False   False    False  False   False  False  False       False  False
22578  False   False    False  False   False  False  False       False  False
22579  False   False    False  False   False  False  False       False   True

[22580 rows x 9 columns]

In [47]:
dados_residenciais.info()     # Mostra a quantidade de valores nulos em cada coluna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22580 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22580 non-null  object
 1   Bairro      22580 non-null  object
 2   Quartos     22580 non-null  int64
 3   Vagas       22580 non-null  int64
 4   Suites      22580 non-null  int64
 5   Area        22580 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  20765 non-null  float64
 8   IPTU        15795 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [ ]:
dados_residenciais.dropna(subset=['Valor'], inplace=True)

In [54]:
dados_residenciais[dados_residenciais['Valor'].isnull()]

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

In [56]:
dados_residenciais = dados_residenciais.fillna({'Condominio': 0, 'IPTU': 0})

In [57]:
dados_residenciais[dados_residenciais['Condominio'].isnull()].shape[0]

0

# Relatório de Análise VI

## Criando Novas Variáveis

In [58]:
dados_residenciais.head(10)

                 Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
0           Quitinete       Copacabana        1  ...   1700.0       500.0  60.0
1                Casa  Jardim Botânico        2  ...   7000.0         0.0   0.0
2         Apartamento           Centro        1  ...    800.0       390.0  20.0
3         Apartamento     Higienópolis        1  ...    800.0       230.0   0.0
4         Apartamento     Vista Alegre        3  ...   1200.0         0.0   0.0
5         Apartamento         Cachambi        2  ...   1300.0       301.0  17.0
6  Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         0.0   0.0
7  Casa de Condomínio            Ramos        2  ...   1000.0         0.0   0.0
8         Apartamento           Centro        1  ...   1200.0         0.0   0.0
9         Apartamento           Grajaú        2  ...   1500.0       642.0  74.0

[10 rows x 9 columns]

In [59]:
dados_residenciais['Valor Bruto'] = dados_residenciais['Valor'] + dados_residenciais['Condominio'] + dados_residenciais['IPTU']

In [63]:
dados_residenciais['Valor m²'] = (dados_residenciais['Valor'] / dados_residenciais['Area']).round(2)

In [64]:
dados_residenciais.head(10)

                 Tipo           Bairro  Quartos  ...  IPTU  Valor Bruto  Valor m²
0           Quitinete       Copacabana        1  ...  60.0       2260.0     42.50
1                Casa  Jardim Botânico        2  ...   0.0       7000.0     70.00
2         Apartamento           Centro        1  ...  20.0       1210.0     53.33
3         Apartamento     Higienópolis        1  ...   0.0       1030.0     16.67
4         Apartamento     Vista Alegre        3  ...   0.0       1200.0     17.14
5         Apartamento         Cachambi        2  ...  17.0       1618.0     26.00
6  Casa de Condomínio  Barra da Tijuca        5  ...   0.0      22000.0     29.33
7  Casa de Condomínio            Ramos        2  ...   0.0       1000.0     15.38
8         Apartamento           Centro        1  ...   0.0       1200.0     33.33
9         Apartamento           Grajaú        2  ...  74.0       2216.0     21.43

[10 rows x 11 columns]

In [65]:
casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [67]:
# apply(): Aplica uma função a cada registro da tabela
dados_residenciais['Tipo Agregado'] = dados_residenciais['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')
dados_residenciais.head(20)

                  Tipo                   Bairro  ...  Valor m²  Tipo Agregado
0            Quitinete               Copacabana  ...     42.50    Apartamento
1                 Casa          Jardim Botânico  ...     70.00           Casa
2          Apartamento                   Centro  ...     53.33    Apartamento
3          Apartamento             Higienópolis  ...     16.67    Apartamento
4          Apartamento             Vista Alegre  ...     17.14    Apartamento
5          Apartamento                 Cachambi  ...     26.00    Apartamento
6   Casa de Condomínio          Barra da Tijuca  ...     29.33           Casa
7   Casa de Condomínio                    Ramos  ...     15.38           Casa
8          Apartamento                   Centro  ...     33.33    Apartamento
9          Apartamento                   Grajaú  ...     21.43    Apartamento
10         Apartamento      Lins de Vasconcelos  ...     16.67    Apartamento
11         Apartamento               Copacabana  ...     50.00    Apartamento
12           Quitinete               Copacabana  ...     66.67    Apartamento
13         Apartamento               Copacabana  ...     53.50    Apartamento
14  Casa de Condomínio                  Taquara  ...     17.39           Casa
15         Apartamento  Freguesia (Jacarepaguá)  ...     17.59    Apartamento
16         Apartamento          Barra da Tijuca  ...     25.37    Apartamento
17         Apartamento                   Tijuca  ...     17.27    Apartamento
18  Casa de Condomínio          Barra da Tijuca  ...     16.09           Casa
19         Apartamento                   Olaria  ...     14.71    Apartamento

[20 rows x 12 columns]